* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

.imagem-texto {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    align-items: center;
}

.image {
    width: 500px;
    height: auto;
    border-radius: 8px;
}

.text p {
    font-size: 25px;
    line-height: 1.6;
    color: #333;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-top: 60px;
}

.carde {
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.carde img {
    width: 100%;
    height: 50%;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;

}

.card-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 4px;
    color: #fff;
}

.card-content .btn:hover {
    background-color: #ffffff;
    color: black;
    border-color: #000000;
}

.titulo h1 {
    font-weight: 600;
}

.card {
    background-color: white;
    padding: 50px;
    margin-top: 20px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    margin-top: 40px;
}